/* block specific CSS goes here */

main .hero-container > div {
  max-width: unset;
}
  
main .hero-container {
  padding: 0;
}
  
main .hero {
  position: relative;
  padding: 0 80px;
  min-height: 375px;
  max-height: 800px;
  height: 75vh;
  background: radial-gradient(40% 100% at 10% 85%, rgba(24 20 9 / 80%) 0, rgba(24 20 9 / 0%) 100%);
  opacity: 1;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  color: var(--background-color);
}

main .hero::before {
  content: '';
  background: url('/icons/palladium-care.svg');
  width: 200px;
  height: 175px;
  background-size: cover;
  position: absolute;
  top: auto;
  left: auto;
  right: 3%;
  bottom: 10%;
  margin: auto;
  mix-blend-mode: normal;
  filter: brightness(10);
}

main .hero h1 {
  max-width: 1200px;
  margin: 0 auto 70px;
  color: var(--background-color);
}

main .hero picture {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  object-fit: cover;
  box-sizing: border-box;
}

main .hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

main .hero p {
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: var(--body-font-size-xs);
  letter-spacing: 2px;
  font-weight: 600;
  font-family: var(--body-light-font-family);
}
