.footer {
  font-size: var(--body-font-size-xs);
}

.footer a {
  color: var(--text-color);
}

.footer ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding-left: 0;
}

.footer .top {
  margin-bottom: -85px;
}

.footer .top ul {
  flex-wrap: nowrap;
} 

.footer h4 {
  font-size: 18px;
  font-family: var(--body-font-family);
  color: var(--text-color);
}

.footer .top ul li {
  flex: 1;
}

.footer .top ul li .icon {
  filter: invert(65%) sepia(25%) saturate(321%) hue-rotate(13deg) brightness(97%) contrast(91%);
  opacity: 80%;
}

.footer .top ul li .icon:hover {
  filter: none;
  opacity: 100%;
}

.footer .top ul li .icon svg {
  filter: grayscale(1);
}

.footer .top ul li .icon:hover svg {
  filter: none;
}

.footer .center {
  background-color: var(--highlight-footer-background-color);
  padding: 54px 15px 0;
}

.footer .bottom {
  padding: 15px;
}

.footer .bottom, .footer .bottom a {
  color: var(--breadcrumbs-color);
}

.footer .bottom a:hover {
  color: #999;
}

.footer .center input {
  background: #fff;
  border: 1px solid #aea780;
  width: 100%;
  padding: 23px 12px;
  font-style: normal;
  font-weight: 400;
  font-size: var(--body-font-size-m);
  line-height: 18px;
  color: var(--breadcrumbs-color);
  margin: 15px 0;
}

.footer .center a:hover {
  text-decoration: none;
}

.footer .center ul {
  justify-content: end;
  font-size: var(--body-font-size-s);
}

.footer .center ul li {
  margin-bottom: 13px;
}

.footer .center ul li ul {
  margin-top: 13px;
  font-size: var(--body-font-size-xs);
}

.footer .top ul li ul {
  transform: translateY(-140px);
}

.footer .top > div > div > ul > li {
  border-top: 1px solid var(--highlight-footer-background-color);
  padding-top: 3px;
  margin-right: 10px;
  text-transform: uppercase;
  font-size: 8px;
}

.footer .bottom .icon {
  width:35px;
  height: 35px;
}

.footer .bottom ul li a {
  margin: 0 10px;
}

.footer .top .icon {
  width:90px;
  height: 75px;
  margin: 20px 5px;
}

@media (min-width: 992px) {
  .footer .center > div,
  .footer .bottom > div {
    display: flex;
    flex-wrap: wrap;
  }

  .footer .center ul li {
    width: 146px;
    margin-right: 16px;
  }

  .footer .bottom > div {
    justify-content: space-between;
    align-items: center;
  }

  .footer .center > div > div:first-of-type {
    flex-basis: 32%;
  }

  .footer .center > div > div:nth-of-type(2) {
    flex-basis: 68%;
  }
}

@media (max-width: 991px) {
  .bottom {
    text-align: center;
  }

  .center ul {
    display: block;
  }

  .center ul ul {
    display: none;
  }

  .center > div > div > ul > li {
    padding: 10px 0;
  }
}