@font-face {
    font-family: Avenir-Roman;
    src: url("../fonts/Avenir-Roman.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Avenir-Medium;
    src: url("../fonts/Avenir-Medium.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Avenir-Book;
    src: url("../fonts/Avenir-Book.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Avenir-Light;
    src: url("../fonts/Avenir-Light.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Vanitas-Regular;
    src: url("../fonts/vanitas.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Vanitas-Bold;
    src: url("../fonts/vanitas-bold.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Vanitas-Italic;
    src: url("../fonts/vanitas-italic.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Vanitas-Bold-Italic;
    src: url("../fonts/vanitas-bold-italic.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}